<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<style>body{
             display: flex;
             flex-direction:column;
             margin:2px;
             }
             .menu
             {
                display: flex;
               justify-content: space-around;
               background-color: blueviolet;
             }
             .menu a{
                 font-size: 15px;
                 font-weight: bolder;
                 color:white;
             }
    </style>
</head>
<body>
	<h1>Project Idea</h1>
	<div class="menu">
		<a href="/add">Add Student</a>
		<a href="/search">Search Student</a>
		<a href="/update">Update Student</a>
		<a href="/delete">Delete Student</a>
		<a href="/view">View Student</a>
	</div>


</body>
</html>